footer{
    overflow: hidden;
    padding:20px;
    background-color:$primary-color;
      color:#fff!important;
    .col-sm-6{
          height: 5em!important;
    position: relative;
        p{
             margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
            }
    }
    .social-media{
        margin-top:25px;
        height:100%;
        color:#fff;
        margin-bottom:0;
        li{
            display: inline;
            color:#fff!important;
            padding:10px;
            a{
                color:#fff!important;
                
            }
        }
    }
}