.header-video{
width:100%;
height: auto!important;
video{
width:100%!important;
}
.header-intro{
position: absolute;
top:40%;
width: 100%;
.heading1{
text-align: center;
color:$primary-color;
font-size: 4rem;
font-weight:700;
        }
    }
}